services:
  # PostgreSQL Database
  postgres:
    image: postgres:16
    container_name: voltexchange-db
    environment:
      POSTGRES_DB: 
      POSTGRES_USER: 
      POSTGRES_PASSWORD: 
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./migrations/01-ddl-voltexchange.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ./migrations/02-partitions.sql:/docker-entrypoint-initdb.d/02-partitions.sql
    networks:
      - voltexchange-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:

networks:
  voltexchange-network:
    driver: bridge