# Application
spring.application.name=VoltExchange API
server.port=8080

# Database - Desenvolvimento Local (Docker)
spring.datasource.url=jdbc:postgresql://localhost:5432/voltexchange
spring.datasource.username=root
spring.datasource.password=root
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA/Hibernate
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# JWT
jwt.secret=VoltExchange2026SecretKeyMuitoSegura123456789
jwt.expiration=86400000

# Logging
logging.level.com.voltexchange=DEBUG
logging.level.org.springframework.security=DEBUG